@import "../../bootstrap/scss/variables";

/* Colors */
$symbion-primary: $brand-primary;
$lightondark: #fff;

/* Typography */
$font-family-base: 'Lato', sans-serif;

/*****************
  Global styles
******************/

body {
	font-family: $font-family-base;
	background: url(../img/lounge_blured.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


/*****************
  Colors
******************/

/* Symbion */
.bg-symbion {
	background-color: $symbion-primary; 
	color: $lightondark;
}
.bg-symbion a {	
	color: $lightondark; 
}

/*****************
  Login
******************/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*****************
  Header
******************/
.header.container {
	line-height: 60px;
}
.logo {
	font-size: 22px;
	font-weight: bold;
}
.logo img {
	width: 150px;
	padding: 10px 0;
}
form .signin {
	line-height: 1;
}
.btn-group-sm>.btn, .btn-sm {
	padding: .27rem .75rem;
}
.current-user {
	text-align: right;
	line-height: 20px;
	padding-top: 20px;
}

/*****************
  Search bar
******************/

.sb-search {
	position: relative;
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: $gray-dark;
}

.sb-icon-search,
.sb-search-submit  {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	z-index: 90;
	font-size: inherit;
}


/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: $symbion-primary;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

/*****************
  Navigation
******************/
.navbar-nav .nav-item+.nav-item {
	margin-left: 2rem;
}

.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
  text-align: center;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 992px) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
    text-align: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item + .nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}
.navbar-toggler {
  color: #fff !important;
}
/*****************
  Event feed
******************/
.event-feed {
	color: #fff;
}
.event-feed .event:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
}
.event-feed .event {
	padding: 10px 0;
	margin-left: -1.3rem;
	margin-right: -1.3rem;
}
.event-feed .event .event-meta {
	text-align: center;
	line-height: 1.1;
}
.event-feed .event .event-meta .event-date {
	font-size: 1.8rem;
	font-weight: 600;
}
.event-feed .event .event-meta .event-month {
	font-size: 0.87rem;
	font-weight: 300;
	text-transform: uppercase;
}
.event-feed .event .event-description {
	font-size: 0.8rem;
}
/*****************
  footer
******************/
.site-footer {
	padding: 30px 0;
	font-weight: 300;
}
.site-footer h3 {
  font-size:1.1rem;
}
.site-footer ul.link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .footer-col {
  margin-bottom: 15px;
}

/*****************
  Date picker
******************/

.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
}
.ui-datepicker .ui-datepicker-calendar td {
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
/* Reset */
.ui-widget-content .ui-icon,
.ui-widget-header .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon,
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error
{border:0;background:none;}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
}
.ui-widget-header {
  background: none;
  border: none;
}
.ui-corner-all {
  border-radius: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #e6e6e6;
}
.ui-datepicker-prev, .ui-datepicker-next {
  font-family: FontAwesome;
  text-decoration: none;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
  text-decoration: none;
}
.ui-datepicker-prev span, .ui-datepicker-next span {
    display: none!important;
}
.ui-datepicker-prev {
    left: 15px;
    text-align: left;
}
.ui-datepicker-next {
    right: 15px;
    text-align: right;
}
.ui-datepicker-prev:before {
    content: "\f104";
}
.ui-datepicker-next:before {
    content: "\f105";
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
}
/*****************
  Message board - opslagstavlen
******************/
.collapsed-post {
  max-height: 65px;
  overflow: hidden;
}
.post-footer {
  margin-top: 10px;
  text-align: right;
}
.link-icon {
  margin-right: 4px;
}
.selecttags, .select2-container {
	width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
	background-color: inherit;
	border: 1px solid $input-border-color;
	border-radius: inherit;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0.375rem 0.75rem;
}
.row.new-post {
	margin-bottom: 20px;
	text-align: center;
}
.card.post {
    position: relative;
    font-size: 0.813rem;
}
.card.post > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.card.post > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.card.post > .post-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.card.post > .post-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.card.post > .post-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.card.post > .post-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: $gray-lightest;
    font-size: 0.75rem;
    overflow: hidden;
}
.card.post > .post-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
	border-right: 3px solid $brand-info;
}
.card.post > .post-tags > ul:hover > li,
.card.post > .post-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.card.post > .post-tags > ul:hover > li {
    background-color: #fff;   
}
.card.post > .post-tags > ul > li:hover {
    background-color: $brand-info;
    color: #fff;
}
.card.post > .post-heading {
    background-color: #fff;
    border-width: 0px; 
}
.card.post > .post-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.card.post > .post-heading > img { 
    margin-right: 15px;
}
.card.post > .post-heading > h3 {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 700;
}
.card.post > .post-heading > .post-meta {
    font-size: 12px;
    margin: 5px 0 10px;
}
.card.post > .post-body {
    padding-top: 5px;
    clear:both;
}